target/
.flattened-pom.xml
!.mvn/wrapper/maven-wrapper.jar
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Local logs ###
logs/
